.avatar-holder{
    display: flex;
    flex-direction: row;
    width:30rem;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    max-height: 5rem;
    max-width: 5rem;
    margin:1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.avatar-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    font-size:  2.5rem;
    border-radius: 50%;
    background:#ccFF;
    margin:1rem;
    font-weight: bold;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.avatar-lg{
    max-height: 8rem;
    max-width: 8rem;
    font-size: 3.5rem;
}

.avatar-md{
    max-height: 4rem;
    max-width: 4rem;
    font-size: 1.75rem;
}

.avatar-sm{
    max-height: 3rem;
    max-width: 3rem;
    font-size: 1.25rem
}

.avatar-xs{
    max-height: 2rem;
    max-width: 2rem;
    font-size: 0.8rem;
}

.lg-text-padding{
    padding:3rem;
}