<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/breezeUI.css">
    <link rel='icon' href="assets/images/logo-sm.png">
    <title>BreezeUI | Documentation</title>
</head>
<body>
    <header class="flex-space-btwn">
        <div class="flex-center">
            <img class="header-logo" src="assets/images/logo-lg.png">
            <a href="index.html" class="logo-name">BreezeUI</a>
        </div>

        <nav>
            <a class="header-link link-icon icon" href="https://github.com/samyukthasudhakar/BreezeUI"><i class="fa fa-github"></i></a>
        </nav>
    </header>

    <div class=" parent flex-layout container">
        <!--aside bar to access different components-->
        <aside class="flex-column aside-menu">
            <span class="aside-menu-heading">Components</span>
            <a class="aside-menu-link" href="#alerts">Alerts</a>
            <a class="aside-menu-link" href="#avatar">Avatar</a>
            <a class="aside-menu-link" href="#badge">Badge</a>
            <a class="aside-menu-link" href="#button">Button</a>
            <a class="aside-menu-link" href="#card">Card</a>
            <a class="aside-menu-link" href="#image">Image</a>
            <a class="aside-menu-link" href="#input">Input</a>
            <a class="aside-menu-link" href="#text">Text</a>
            <a class="aside-menu-link" href="#lists">Lists</a>
            <a class="aside-menu-link" href="#nav">Navigation</a>
            <a class="aside-menu-link" href="#modal">Modal</a>
            <a class="aside-menu-link" href="#rating">Rating</a>
            <a class="aside-menu-link" href="#toast">Toast</a>  
            <a class="aside-menu-link" href="#grid">Grid</a>
            <a class="aside-menu-link" href="#slider">Slider</a>
        </aside>

        <div class="flex-column component-listing">
            <!--Text Component-->
            <section id="text" class="component-section">
                <div class="component-container">
                    <h2 class="component-heading">Text</h2>
                    <span class="component-description">Text content can be styled using classes from the component library as follows.
                    </span>

                    <h3 class="component-variant-heading">Heading Texts</h3>
                    <span>Heading Texts can be creating by applying the classes : <span class="txt-bold">h1</span>, <span class="txt-bold">h2</span>, <span class="txt-bold">h3</span>, <span class="txt-bold">h4</span>, <span class="txt-bold">h5</span>, <span class="txt-bold">h6</span> .</span>
                    <div class="flex-column display-container">
                        <span class="h1">h1 sized text.</span>
                        <span class="h2">h2 sized text.</span>
                        <span class="h3">h3 sized text.</span>
                        <span class="h4">h4 sized text.</span>
                        <span class="h5">h5 sized text.</span>
                        <span class="h6">h6 sized text.</span>
                    </div>
                    <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=742&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%250A%253Cspan%2520class%253D%2522h1%2522%253Eh1%2520sized%2520text.%253C%252Fspan%253E%250A%253Cspan%2520class%253D%2522h2%2522%253Eh2%2520sized%2520text.%253C%252Fspan%253E%250A%253Cspan%2520class%253D%2522h3%2522%253Eh3%2520sized%2520text.%253C%252Fspan%253E%250A%253Cspan%2520class%253D%2522h4%2522%253Eh4%2520sized%2520text.%253C%252Fspan%253E%250A%253Cspan%2520class%253D%2522h5%2522%253Eh5%2520sized%2520text.%253C%252Fspan%253E%250A%253Cspan%2520class%253D%2522h6%2522%253Eh6%2520sized%2520text.%253C%252Fspan%253E%250A"
                    style="width: 742px; height: 319px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>

                    <h3 class="component-variant-heading">Paragraph Texts</h3>
                    <span>Different sized paragraph texts can be created using the classes : <span class="txt-bold">p-lg</span>, <span class="txt-bold">p-md</span>, <span class="txt-bold">p-sm</span>, <span class="txt-bold">p-xs</span> .</span>
                    <div class="flex-column display-container">
                        <p class="p-lg">A large sized paragraph text.</p>
                        <p class="p-md">A medium sized paragraph text.</p>
                        <p class="p-sm">A small sized paragraph text.</p>
                        <p class="p-xs">A extra small sized paragraph text.</p>
                    </div>
                    <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=742&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%250A%253Cp%2520class%253D%2522p-lg%2522%253EA%2520large%2520sized%2520paragraph%2520text.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522p-md%2522%253EA%2520medium%2520sized%2520paragraph%2520text.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522p-sm%2522%253EA%2520small%2520sized%2520paragraph%2520text.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522p-xs%2522%253EA%2520extra%2520small%2520sized%2520paragraph%2520text.%253C%252Fp%253E%250A"
                    style="width: 742px; height: 282px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>

                    <h3 class="component-variant-heading">Aligned Text</h3>
                    <span>Text can be aligned using the classes : <span class="txt-bold">txt-left</span>, <span class="txt-bold">txt-center</span>, <span class="txt-bold">txt-right</span>.</span>
                    <div class="flex-column display-container">
                        <p class="txt-left">Left aligned text.</p>
                        <p class="txt-center">Center aligned text.</p>
                        <p class="txt-right">Right aligned text.</p>
                    </div>
                    <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=742&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%250A%253Cp%2520class%253D%2522txt-left%2522%253ELeft%2520aligned%2520text.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522txt-center%2522%253ECenter%2520aligned%2520text.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522txt-right%2522%253ERight%2520aligned%2520text.%253C%252Fp%253E%250A"
                    style="width: 742px; height: 263px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>

                    <h3 class="component-variant-heading">Styled Texts</h3>
                    <p class="p-sm">The following are examples of various styles that can be applied to text such as 
                        highlight, grey text, strikethrough, bold etc. 
                    </p>
                    <div class="flex-column display-container">
                        <p>This is a <span class="txt-highlight">highlighted text</span> .</p>
                        <p class="txt-linethrough">This has linethough style.</p>
                        <p class="txt-bold">This is a bold text.</p>
                        <p class="txt-italics">This is text in italics style.</p>
                        <p class="txt-grey">This is a text in grey color.</p>
                    </div>
                    <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=742&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%250A%253Cp%253EThis%2520is%2520a%2520%253Cspan%2520class%253D%2522txt-highlight%2522%253Ehighlighted%2520text%253C%252Fspan%253E%2520.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522txt-linethrough%2522%253EThis%2520has%2520linethough%2520style.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522txt-bold%2522%253EThis%2520is%2520a%2520bold%2520text.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522txt-italics%2522%253EThis%2520is%2520text%2520in%2520italics%2520style.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522txt-grey%2522%253EThis%2520is%2520a%2520text%2520in%2520grey%2520color.%253C%252Fp%253E%250A"
                    style="width: 742px; height: 300px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>
            </section>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>