.btn{
    padding:8px;
    margin:4px;
    max-width:11rem;
    border-radius: 3px;
    border:none;
    font-weight: bold;
    border: solid 3px transparent;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/*color buttons*/
.blue-btn{
    background-color: var(--clr-blue);
    border: solid 3px var(--clr-blue);
}

.green-btn{
    background-color: var(--clr-green);
    border: solid 3px var(--clr-green);
}

.red-btn{
    background-color: var(--clr-red);
    border: solid 3px var(--clr-red);
}

.orange-btn{
    background-color: var(--clr-orange);
    border: solid 3px var(--clr-orange);
}

/*secondary style button*/
.secondary-btn{
    background-color: var(--clr-white);
}


/*link buttons*/
.link-btn{
    padding:8px;
    margin:2rem;
    width:9rem;
    border-radius: 3px;
    border:none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.link-btn:hover a{
    font:large;
    color:var(--clr-black)
}

.solid-link-btn{
    background-color: var(--clr-red);
}

.outline-link-btn{
    border:solid 2px var(--clr-red);
    background-color: transparent;
}

.link-btn a{
    color: var(--clr-black);
}

/*icon-buttons*/
.icon-btn{
    font-size:2rem;
    cursor:pointer;
    margin:1rem;
    color: var(--clr-red);
    background-color: transparent;
    border: none;
    translate: all ease 5s;
}

.icon-btn:hover{
    transform: translateY(-1px);
}

/*float-action-button*/
.float-btn-action{
    width:3rem;
    height:3rem;
    background-color: var(--clr-peach);
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.float-btn-action:hover{
    color:var(--clr-white);
    cursor:pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.float-btn-action a{
    font-size: larger;
    font-weight: bold;
}

.float-btn-action a:hover{
    color: var(--clr-white);
}
