.component-listing{
    padding:1rem;
    margin-top: 1.5rem;
    width:100%;
}

.component-section{
    width:100%;
    border-bottom:solid 3px var(--clr-grey);
    padding:0.25rem;
}

.component-container{
    display:flex;
    flex-direction: column;
}

.component-variant-container{
    margin:1rem 0;
}

.component-variant-heading{
    margin:1rem 0;
}
.component-variant-content{
    padding:1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border:solid 1px;
}
