#modal, .modal{
    text-align:center;
    width:25rem;
    background-color: var(--clr-blue);
    padding:1rem
}

#modal{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:none;
}

#modal-cancel, .modal-cancel{
    border:none;
    background-color:transparent;
    align-self:flex-end;
}