.nav-display-container{
    height:10rem;
    background-color: var(--clr-light-grey);
}

.nav-container{
    background-color: var(--clr-blue);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.search-bar{
    border-radius:4px;
    justify-content:space-between;
    width:25rem;
    background-color: var(--clr-light-grey);
    padding:0.75rem;
}

.search-input{
    width:22rem;
    border:none;
    background-color:transparent;
}

.nav-icon{
    font-size:2rem;
    margin:0.5rem
}