<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/breezeUI.css">
    <link rel='icon' href="assets/images/logo-sm.png">
    <title>BreezeUI | Documentation</title>
</head>
<body>
    <header class="flex-space-btwn">
        <div class="flex-center">
            <img class="header-logo" src="assets/images/logo-lg.png">
            <a href="index.html" class="logo-name">BreezeUI</a>
        </div>

        <nav>
            <a class="header-link link-icon icon" href="https://github.com/samyukthasudhakar/BreezeUI"><i class="fa fa-github"></i></a>
        </nav>
    </header>

    <div class=" parent flex-layout container">
        <!--aside bar to access different components-->
        <aside class="flex-column aside-menu">
            <span class="aside-menu-heading">Components</span>
            <a class="aside-menu-link" href="#alerts">Alerts</a>
            <a class="aside-menu-link" href="#avatar">Avatar</a>
            <a class="aside-menu-link" href="#badge">Badge</a>
            <a class="aside-menu-link" href="#button">Button</a>
            <a class="aside-menu-link" href="#card">Card</a>
            <a class="aside-menu-link" href="#image">Image</a>
            <a class="aside-menu-link" href="#input">Input</a>
            <a class="aside-menu-link" href="#text">Text</a>
            <a class="aside-menu-link" href="#lists">Lists</a>
            <a class="aside-menu-link" href="#nav">Navigation</a>
            <a class="aside-menu-link" href="#modal">Modal</a>
            <a class="aside-menu-link" href="#rating">Rating</a>
            <a class="aside-menu-link" href="#toast">Toast</a>  
            <a class="aside-menu-link" href="#grid">Grid</a>
            <a class="aside-menu-link" href="#slider">Slider</a>
        </aside>

        <div class="flex-column component-listing">
           <!--Button Component-->
           <section id="button" class="component-section">
            <div class="component-container">
                <h2 class="component-heading">Button</h2>
                <span class="component-description">
                    Buttons are important UI elements that make it possible for users to interact with a system and take action by making selections. 
                    Buttons are used on forms, website homepages, dialog boxes, and toolbars.
                </span>

                <h3 class="component-variant-heading">Solid Primary Button</h3>
                <div>
                    <button class="btn blue-btn">Primary Blue</button>
                    <button class="btn green-btn">Primary Green</button>
                    <button class="btn red-btn">Primary Red</button>
                    <button class="btn orange-btn">Primary Orange</button>
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=767.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520blue-btn%2522%253EPrimary%2520Blue%253C%252Fbutton%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520green-btn%2522%253EPrimary%2520Green%253C%252Fbutton%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520red-btn%2522%253EPrimary%2520Red%253C%252Fbutton%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520orange-btn%2522%253EPrimary%2520Orange%253C%252Fbutton%253E%250A%253C%252Fdiv%253E"
                style="width: 767px; height: 282px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>

                <h3 class="component-variant-heading">Outlined Secondary Button</h3>
                <div>
                    <button class="btn blue-btn secondary-btn">Secondary Blue</button>
                    <button class="btn green-btn secondary-btn">Secondary Green</button>
                    <button class="btn red-btn secondary-btn">Secondary Red</button>
                    <button class="btn orange-btn secondary-btn">Secondary Orange</button>
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=767.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520blue-btn%2520secondary-btn%2522%253ESecondary%2520Blue%253C%252Fbutton%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520green-btn%2520secondary-btn%2522%253ESecondary%2520Green%253C%252Fbutton%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520red-btn%2520secondary-btn%2522%253ESecondary%2520Red%253C%252Fbutton%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520orange-btn%2520secondary-btn%2522%253ESecondary%2520Orange%253C%252Fbutton%250A%253C%252Fdiv%253E"
                style="width: 767px; height: 282px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>

                <h3 class="component-variant-heading">Link Button</h3>
                <div>
                    <button class="link-btn solid-link-btn"><a href="">Link Button</a></button>
                    <button class="link-btn outline-link-btn"><a href="">Link Button</a></button>
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=776.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=15px&ph=15px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522link-btn%2520solid-link-btn%2522%253E%253Ca%2520href%253D%2522%2522%253ELink%2520Button%253C%252Fa%253E%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522link-btn%2520outline-link-btn%2522%253E%253Ca%2520href%253D%2522%2522%253ELink%2520Button%253C%252Fa%253E%253C%252Fbutton%253E"
                style="width: 777px; height: 124px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>

                <h3 class="component-variant-heading">Icon Button</h3>
                <div>
                    <button class="icon-btn"><i class="fa fa-shopping-cart"></i></button></i>
                    <button class="icon-btn"><i class="fa fa-envelope"></i></button>
                    <button class="icon-btn"><i class="fa fa-edit"></i></button>
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=776.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=15px&ph=15px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522icon-btn%2522%253E%253Ci%2520class%253D%2522fa%2520fa-shopping-cart%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%253C%252Fi%253E%250A%253Cbutton%2520class%253D%2522icon-btn%2522%253E%253Ci%2520class%253D%2522fa%2520fa-envelope%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522icon-btn%2522%253E%253Ci%2520class%253D%2522fa%2520fa-edit%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E"
                style="width: 777px; height: 143px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>

                <h3 class="component-variant-heading">Floating Action Button</h3>
                <div>
                    <button class="btn float-btn-action"><a class="flex-center"><i class="fa fa-angle-double-up"></i></a></button>
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=776.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=15px&ph=15px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520float-btn-action%2522%253E%250A%2520%2520%253Ca%2520class%253D%2522flex-center%2522%253E%253Ci%2520class%253D%2522fa%2520fa-angle-double-up%2522%253E%253C%252Fi%253E%253C%252Fa%253E%250A%253C%252Fbutton%253E"
                style="width: 777px; height: 143px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
        </section>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>