@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Outfit:wght@200&display=swap');
@import url(reset.css);
@import url(/styles/utils/txt-styles.css);
@import url(/styles/utils/flex-formats.css);
@import url(/styles/colors.css);
@import url(/styles/index.css);
@import url(/styles/docs.css);
@import url(/styles/components/component.css);
@import url(/styles/components/alerts.css);
@import url(/styles/components/avatar.css);
@import url(/styles/components/badge.css);
@import url(/styles/components/button.css);
@import url(/styles/components/card.css);
@import url(/styles/components/image.css);
@import url(/styles//components/input.css);
@import url(/styles/components/textUtilities.css);

*{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

/*header styling*/
header{
    width:100%;
    height:12vh;
    align-items:center;
    padding:1rem;
    font-size: larger;
}

input:focus{
    outline:none;
    box-shadow: -4px -4px 10px var(--clr-white), 1px 1px 10px var(--clr-black);
}

.header-logo{
    width:2rem;
    height:2rem;
    margin:0.25rem
}

nav{
    display:inline;
    float:right;
}

.logo-name{
    font-size: larger;
}

.logo-name:hover{
    font-size: larger;
    color:var(--txt-hover);
}

.header-link{
    margin:0.5rem;
    font-size: large; 
}

.link-icon{
    font-size: 1.7rem;
}

i:hover{
    cursor:pointer;
}

footer{
    padding:1rem;
}

.footer-icon{
    font-size:1.5rem;
    cursor:pointer;
    margin:0.5rem;
}

.footer-icon:hover{
    color:var(--txt-hover);
}
