:root{

    /*background colors*/
    --clr-black:#000000;
    --clr-white:#ffffff;
    --clr-blue:#B9eAed;
    --clr-grey:#d9e9fa;
    --clr-light-grey:#F2F4FA;
    --clr-green:#c7e8b5;
    --clr-red:#ff6961;
    --clr-orange:#ffb347;
    --clr-peach:#ff6347;
    --clr-half-white:#ffe5b4;
    --clr-btnHover:#2ab8b8;

    /*text-accent colors*/
    --txt-highlight:#0096FF;
    --txt-validity:#008000;
    --txt-invalidity:#ff0000;
    --txt-linethrough:#808080;
    --txt-hover:#556b2f;
    --txt-grey:#6A6B6E;

    /*website theme colors*/
    --primary-clr:#8ad0a0;
    --secondary-clr: #04AA6D;
    --tertiary-clr:#def6e5;


}