/*body layout styling*/
.container{
    padding:1rem;
}

.aside-menu{
    padding:1rem 0 1rem 0;
    margin:1rem 1rem 0 0;
    width:15vw;
    position: sticky;
    align-self: flex-start;
    top:3px;
    overflow-y: auto;
    border-right:solid 2px var(--clr-grey);
    height: 100vh;
}

.aside-menu-heading{
    font-size: larger;
    padding:1rem;
}

.aside-menu-link{
    padding:1rem;
    width:100%;
    font-size: medium;
}

.aside-menu-link:hover{
    font-size: large;
}
