*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

a{
    text-decoration:none;
    color:black;
}

a:hover{
    color:var(--txt-highlight);
    font-size: large;
}

button:hover{
    cursor:pointer;
}

iframe{
    margin-top:0.5rem;
}