<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/breezeUI.css">
    <link rel='icon' href="assets/images/logo-sm.png">
    <title>BreezeUI | Documentation</title>
</head>
<body>
    <header class="flex-space-btwn">
        <div class="flex-center">
            <img class="header-logo" src="assets/images/logo-lg.png">
            <a href="index.html" class="logo-name">BreezeUI</a>
        </div>

        <nav>
            <a class="header-link link-icon icon" href="https://github.com/samyukthasudhakar/BreezeUI"><i class="fa fa-github"></i></a>
        </nav>
    </header>

    <div class=" parent flex-layout container">
        <!--aside bar to access different components-->
        <aside class="flex-column aside-menu">
            <span class="aside-menu-heading">Components</span>
            <a class="aside-menu-link" href="#alerts">Alerts</a>
            <a class="aside-menu-link" href="#avatar">Avatar</a>
            <a class="aside-menu-link" href="#badge">Badge</a>
            <a class="aside-menu-link" href="#button">Button</a>
            <a class="aside-menu-link" href="#card">Card</a>
            <a class="aside-menu-link" href="#image">Image</a>
            <a class="aside-menu-link" href="#input">Input</a>
            <a class="aside-menu-link" href="#text">Text</a>
            <a class="aside-menu-link" href="#lists">Lists</a>
            <a class="aside-menu-link" href="#nav">Navigation</a>
            <a class="aside-menu-link" href="#modal">Modal</a>
            <a class="aside-menu-link" href="#rating">Rating</a>
            <a class="aside-menu-link" href="#toast">Toast</a>  
            <a class="aside-menu-link" href="#grid">Grid</a>
            <a class="aside-menu-link" href="#slider">Slider</a>
        </aside>

        <div class="flex-column component-listing">
           <!--Input Component-->
           <section id="input" class="component-section">
            <div class="component-container">
                <h2 class="component-heading">Input</h2>
                <span class="component-description">Input elements are used to take infromation from user. Input components are used in a 
                    variety of usecases like forms, sign-up/sign-in pages etc.
                </span>

                <h3 class="component-variant-heading">Primary Input</h3>
                <input class="input primary-input" placeholder="Please enter the text here.">
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=801.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cinput%2520class%253D%2522input%2520primary-input%2522%2520placeholder%253D%2522Please%2520enter%2520the%2520text%2520here.%2522%253E"
                style="width: 801px; height: 189px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>

                <h3 class="component-variant-heading">Secondary Input</h3>
                <input class="input secondary-input" placeholder="Please enter the text here.">
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=801.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cinput%2520class%253D%2522input%2520secondary-input%2522%2520placeholder%253D%2522Please%2520enter%2520the%2520text%2520here.%2522%253E"
                style="width: 801px; height: 189px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>

                <h3 class="component-variant-heading">Valid Input</h3>
                <div class="flex-column input-holder">
                    <input class="input valid-input" placeholder="Placeholder for password ">
                    <span class="input-validity-text valid-validity-text">This is a valid password.</span>
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=801.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cinput%2520class%253D%2522input%2520valid-input%2522%2520placeholder%253D%2522Placeholder%2520for%2520password%2520%2522%253E"
                style="width: 801px; height: 189px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
            
                <h3 class="component-variant-heading">Invalid Input</h3>
                <div class="flex-column input-holder">
                    <input class="input invalid-input" placeholder="Placeholder for password">
                    <span class="input-validity-text invalid-validity-text">This is an invalid password.</span>
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=801.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cinput%2520class%253D%2522input%2520invalid-input%2522%2520placeholder%253D%2522Placeholder%2520for%2520password%2522%253E"
                style="width: 801px; height: 189px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </section>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>